<form action="/user" method="post">
    <label>First name:</label>
    <input type="text" name="firstName"><br>
    <label>Last name:</label>
    <input type="text" name="lastName"><br>
    <label>email:</label>
    <input type="text" name="email"><br>
    <label>post:</label>
    <textarea name="post" rows="25" cols="50"></textarea><br>

    <input type="submit" value="Submit">
</form>